body
{
    background-color: #D8F8FF;
}

main
{
    margin: auto;
}
.main-display
{
    margin:40px auto 50px;
    width: 80%;
    height:auto;
    box-sizing: border-box;
    padding: 50px 20px 30px;
    background: linear-gradient(to right,#A9EDF0,#DABDDF);
}

.text-design
{
    text-align: center;
    color:white;
    font-family: sans-serif;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
    margin-bottom: 40px;
}

.input-counter-button
{
    margin:auto;
    height: 36px;
    width:80%;
    /* border:1px solid black; */
    position: relative;
    box-sizing: border-box;
}


.input input[type="number"]
{
    width:40%;
    height:83%;
    position:absolute;
    top:0;
    left:0;
    font-size: 1rem;

}

.button button
{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:15%;
    font-size: 1rem;
    font-weight: bold;
    border:none;
    background-color:#DDDDDD;
    border-radius: 20px;
    box-shadow: 0 4px 15px 1px white;
    cursor: pointer;
}


@media screen and (max-width:1200px)
{
    .button button
    {
        width: 40%;
        font-size:0.9rem;
    }
}

@media screen and (max-width:800px)
{
    .button button
    {
        width: 30%;
        font-size:0.7rem;
    }
}

input:focus,button:focus
{
    outline: none;
}

.counter-display
{
    width:75%;
    height: 200px;
    background-color: #555555;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
}

.counter-box
{
    width:12%;
    max-width: 70px;
    height:70px;
    margin:0px 10px;
    position: relative;
    overflow: hidden;
    background-color: black;
    box-shadow: 0px 0px 5px white;
}

p
{
    text-align: center;
    background-color:#F0F8FF;
    height: 100%;
    width:100%;
    line-height: 70px;
    margin: 0;
    font-size: 4rem;
    box-sizing: border-box;
    border-top:2px solid black;
}
.next
{
    position: absolute;
    top:70px;   
}

.animate
{
    transition: all 0.5s;
    top:0px;
}
